.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
color: #ad1d28;
}

.skin-blue .main-header . logo{
			background-color: #222b2e;
			}
